/*header*/
body {background-color:#78ab46;}

.title {text-align: center; font-size:22px; font-family: verdana; color: black; margin-top:1em;text-decoration:underline;margin-right:12em;}

.coffee {position:absolute; right:0px;top:0;  width:3em;height:2em;padding-top:8px;padding-right:10px;}
.name{text-align: center; font-family:verdana; color:#686868;background-color:#ffd700;margin-top:2.7em;font-size:20px;}
.date {text-align: center; font-family:verdana; color:#686868;background-color:#ffd700;font-size:15px;}


/*body*/
.P {background-color: #a8a8a8;padding:20px;font-size:20px;margin-bottom:10px;text-align:justify;}

.body {background-color: #a8a8a8;border: 2px solid black;}

header {text-align: center;bottom-border: 2px solid black;}

.bot-line{border-bottom:1px dotted black;margin-top:10px;}

/*social links*/


/*blog links*/
.bloglist {text-align:justify; font-size:10px;margin-top:5em;margin-left:20em;}
.blinks{color:blue;text-decoration:none; font-size:30px;}

.bloglist a:hover{color:yellow;}



/* about my blogging */

.link {margin-top: 2em;margin-right:26em;font-size:25px;color:; }

/*title-container*/


/*snippet 5*/
.snippit5{height:12em;width:12em;}




/*Blog 7 css*/
.r_vs_j1{margin:auto; width:10em;}
.r_vs_j2{margin:auto;width:10em;}
.blog7snip{text-align:center;font-family:verdana;}


/*Blog sort css*/
.sort {border:2px black solid; margin-left: 10em;margin-top:10px;}
.sorttalk {width:35em; margin-left:1em;}
.sorttalk1 {width:40em; margin-left:1em;}

.bubble{font-weight:bold;}

/*Text container and Background*/
.text_container_blog {height:11em;border:2px black solid;background-color:#d3d3d3;text-align: center;font-size:4em;width:13em;position:absolute;top:0px; left:3.4em;}

.background_container_blog {position:relative;height:50em;width:100%;margin-top:1em;}

/*line*/
.dotline{border-bottom:2px dotted black;}
