
/*Background color*/
.home-page {width: 100%;
    height: 100%;
    background-color: #78ab46;
    animation-name: change;
    animation-duration: 4s;}

body{background-color: #78ab46;}
/*top nav*/


.spacing-top{display:inline-block; margin-right: 1.5em;font-size: 2em}

.spacing-top a:link{text-decoration:none;}

.spacing-top a:hover {color:blue;}

a{color:#660000;}



.topnav{text-align:center;}

.top-line {border-bottom: 3px solid black; width: 100%; margin-top:1em;}

/*Profile Image,Welcome, and about.*/
.P-img {border: 3px solid #c0c0c0; margin-top: 1em;}
.img {border: 1px solid black; float: center; width:40%;margin-left: 2em;margin-top: 5px;}
.welcome{font-family: Arial;border-bottom:10px solid #ffd700; float: left; width: 25%;height: 1.5em; margin-top:1em;text-align: center;}
.website {float: left; width: 25%; font-size: 50px;border-bottom:10px solid #ffd700;font-family:Cursive; margin-top: 1em; clear:left;text-align: center;}

.quick {float:right; width: 25%; font-family: Arial; font-size: 1em;background-color: #c8c8c8;height: 16em; border: 2px solid black;margin-right: 8px;}

/*main body*/
.main-body {text-align: center;background-color:#ffd700 ; border: 3px solid #c0c0c0;height: 30em;margin-top: 20px;}
.extra {text-align: center;background-color:#ffd700 ; border: 3px solid #c0c0c0 ; height: 20em;margin-top:20px;}

/*Social Media Links*/
/*icon height*/
.social_line {border-bottom: 3px black dotted; width: 100%; margin-top:10px;}

#social img{height: 5.5em;
    width: 5.5em;
    font-size: 65%;
    margin-right: 7em;
    margin-left: 12em;
    margin-top: 2em;}



/*bottom nav*/
.bottom-line {border-bottom: 3px solid black; width: 100%;}

.bottomnav{text-align:center; margin-top:1em;}

/*more space*/
.more_space{width:100%;height:10em;}

/*about me*/
.me_miami {height: 25em; margin-right:10px;float:right;border:2px red solid;}

.about {float:left;font-size:30px;position:absolute; font-family:verdana; left:2em;text-decoration:underline;color:red;}

.info {color:#606060;text-align:justify;}

#heat_container {height:30em;margin-top:1em;}

.textb_about_me {float:left;clear:left; margin-top:4em;margin-left:1em;width:40%; }


#logo_container{width:100%; height:10em;}

/*Youtube video in about me */
.youtube{display:block; margin: 0 auto; margin-top:1em; border:2px black solid;}
#youtube_container {width:100%; height:15em;border-top:1px black solid;margin-top:1em;}
.youtube_comment {text-align:center; font-family:verdana;margin-top:1em; font-size:1em; color:#660000; text-decoration:underline; }

/*About me game */
.game_container {width:100%; height:15em;margin-top:9em; display:inline-block;margin-bottom:1em;}
.game_comment {text-align:center; font-family:verdana;margin-top:1em; font-size:1em; color:#660000; text-decoration:underline;}
.game{display:block; margin: 0 auto;margin-top: 1em;}





